.contact-me {
    width: 100%;
    background-color: #060918;
    display: grid;
    grid-template-columns: auto;
    padding: 50px 20px;
    color: #fff;
}
.contact-me .sec1 {
    margin-right: 50px;
}
.contact-me .sec1 p {
    margin-top: 20px;
}
.contact-me .sec2 {
    padding: 0;
}
.contact-me .sec2 p {
    width: 80%;
    margin: 8px 2px;
    font-size: 1.2rem;
}
.contact-me p {
    color: #9498a5;
}
#name, #message, #email {
    width: 100%;
    background-color: #161a2c;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}
#name, #message {
    line-height: 7vh;
    width: 80%;
}  
#email {
    line-height: 9vh;
    width: 80%;
} 
.contact-me .flex p {
    position: relative;
    left: -70px;
}
.contact-me .sec2 .send-btn {
    font-size: 2rem;
    padding: 10px;
    font-weight: bolder;
}
.contact-me .flex2 {
    display: flex;
    align-items: center;
    padding-left: 70px;
}
.flex2:hover {
    color: #fff;
    cursor: pointer;
}
.envelope {
    width: 20px;
    margin-right: 3px;
}
.s-desktop {
    display: none;
}
@media only screen and (min-width: 1024px) {
    .s-desktop {
        display: block;
    }
    .s-mobile {
        display: none;
    }
    .b-mobile {
        display: none;
    }
    .send-btn {
        width: 13vw;
    }
    .contact-me {
        background-color: #060918;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        padding: 50px;
        color: #fff;
    }
    .contact-me .flex {
        display: flex;
        justify-content: space-between;
    }
    .contact-me .flex2 {
        display: flex;
        align-items: center;
        padding-left: 70px;
    }
    #name, #message {
        line-height: 7vh;
        width: 100%;
    }  
    #email {
        line-height: 9vh;
        width: 100%;
    } 
}