.home {
    height: 100vh;
    background-color: #6919ff;
    background-image: url('../assets/future-grid.webp');
    background-size: 100%;
}
.home h1 {
    color: #fff;
    padding: 9% 15% 0;
    text-align: center;
    /* font-size: 300px; */
    font-size: 5rem;
}
.home .buttons {
    text-align: center;
    /* width: auto;
    height: auto; */
    width: 100%;
    margin: 0px auto;
    padding-top: 50px;
}
.home-btn {
    width: 290px;
    height: 70px;
    font-size: 1.4rem;
    margin-right: 20px;
    border: none;
    border-radius: 3px;
}
.home .services {
    background-color: #6919ff;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: .5s;
}
.home .projects {
    background-color: #fff;
    color: #6919ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: .5s;
}
@media only screen and (max-width: 1023px) {
    
}
@media only screen and (min-width: 1024px) {
    * {
        /* border: 1px solid red; */
    }
    .home h1 {
        color: #fff;
        padding: 8% 15% 0;
        text-align: center;
        /* font-size: 300px; */
        font-size: 5rem;
    }
    .projects:hover, .projects:focus {
        color: #fff;
        background-color: #6919ff;
        border: 1px solid #fff;
        transform: scaleX(1.1);
        margin-right: 40px;
        cursor: pointer;
    }
    .projects::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: -1;
        transform-origin: right;
        transition: transform .5s ease;
        transform: scaleX(1);
    }
    .projects:hover::before {
        transform-origin: right;
        transition: transform .5s ease;
        transform: scaleX(0);
    }

    /* .projects:hover, .projects:focus {
        background-color: #6919ff;
        color: #fff;
        cursor: pointer;
        border: 1px solid #fff;       
    } */
    .services:hover, .services:focus {
        color: #6919ff;
        background-color: #fff;
        border: 1px solid #fff;
        transform: scaleX(1.1);
        margin-left: 20px;
        cursor: pointer;
    }
    .services::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6919ff;
        z-index: -1;
        transform-origin: right;
        transition: transform .5s ease;
        transform: scaleX(1);
    }
    .services:hover::before {
        transform-origin: right;
        transition: transform .5s ease;
        transform: scaleX(0);
    }
    /* .services:hover, .services:focus {
        background-color: #fff;
        color: #6919ff;
        cursor: pointer;
    } */
    /* @keyframes Animate {
        0% {
            background-position: 100% 0;
        }
        100% {
            background-position: -100% 0;
        }
    } */
    
    
    }