.home {
    
}
@media only screen and (min-width: 1024px) {
    * {
        /* border: 1px solid red; */
    }
    .home {
        height: 100vh;
        background-color: #6919ff;
    }
    .home h1 {
        color: #fff;
        padding: 6% 15% 0;
        text-align: center;
        font-size: 6.5rem;
    }
    .home .buttons {
        text-align: center;
        /* width: auto;
        height: auto; */
        width: 100%;
        margin: 0px auto;
        padding-top: 50px;
    }
    .home-btn {
        width: 290px;
        height: 70px;
        font-size: 1.4rem;
        margin-right: 20px;
        border: none;
        border-radius: 3px;
    }
    .home .projects {
        background-color: #fff;
        color: #6919ff;
        border-radius: 5px;
    }
    .home .services {
        background-color: #6919ff;
        color: #fff;
        border: 1px solid #fff;
    }
    .services:hover, .services:focus {
        background-color: #fff;
        color: #6919ff;
        cursor: pointer;
    }
    .projects:hover, .projects:focus {
        background-color: #6919ff;
        color: #fff;
        cursor: pointer;
        border: 1px solid #fff;
        transition: .5s ease-in-out;
    }
    
}