html {
  scroll-behavior: smooth;
}
nav {
  /* width: 100%; */
  position: fixed;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  padding: 3% 5%;
  color: #fff;
  top: 0;
  z-index: 1;
}
nav .list-d {
  display: none;
}
nav.scrolling {
  /* width: 90%; */
  background-color: #080b18;
  /* border: 0.4px solid #fff; */
  transition: background-color 0.5s ease;
  padding: 35px;
  /* margin-top: 20px; */
  border-radius: 50px;
}
nav .contact {
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  font-size: 19px;
  color: #fff;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
nav .list {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: -1000px;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #080b18;
  text-align: left;
  transition: 0.5s;
  padding-top: 18vh;
}
nav .list .link-item {
  font-size: 3.7vw;
  text-transform: uppercase;
  color: #9498a5;
  padding-left: 5vw;

}
nav .list.active {
  transform: translateX(0);
  left: 0;
}
nav .hamburger, .logo {
  z-index: 1;
}
.links .hr {
  width: 90%;
  margin-top: 20px;
  background-color: #9498a5;
}
@media only screen and (min-width: 270px) and (max-width: 480px) {
  nav {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 639px) {
  nav {
    padding-top: 30px;
  }
  nav.scrolling {
    width: 89%;
    margin: 20px auto;
  }
  nav.logo {
    font-size: 20px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  nav {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 1023px) {
  
  nav .list-d {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 80%;
    text-align: left;
    height: 100vh;
    transition: 0.5s;
    background-color: #fff;
    padding-top: 170px;
  }
  nav .line {
    height: 2px;
    width: 22px;
    background-color: #fff;
    margin-top: 3px;
  }
  nav .contact {
    border: 1px solid #fff;
    border-radius: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  nav {
    width: 95%;
    padding: 32px 17px;
    margin: 2% 0 0 2%;
    border-radius: 50px;
    background-blend-mode: color-burn;
  }
  nav h1 {
    font-size: 18vw;
  }
  nav.scrolling {
    background-color: #080b18;
    /* border: 0.4px solid #fff; */
    transition: background-color 0.5s ease;
  }
  nav .list {
    display: none;
  }
  nav .list-d {
    display: block;
  }
  nav .hamburger {
    display: none;
  }
  nav .logo {
    font-size: 30px;
  }
  nav ul {
    list-style-type: none;
  }
  nav .links .link-item {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2vw;
  }
  ul li {
    display: inline;
    padding: 0 20px;
  }
  .contact:hover,
  .contact:focus {
    color: #6919ff;
    background-color: #fff;
    border: 1px solid #fff;
    transform: scaleX(1.1);
    margin-left: 20px;
    cursor: pointer;
  }
  .contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6919ff;
    z-index: -1;
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(1);
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 1.2vw;
  }
  .contact:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
  }
}
