.service {
  width: 100%;
  min-height: fit-content;
  padding: 50px;
  background-color: #060918;
}
.service .but-house {
  width: 100%;
  text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
}
.service-card {
    background-color: #0c1021;
    width: 40vw;
    margin: 20px 0;
    padding: 40px 20px;
    height: fit-content;
    /* color: #9498a5; */
    color: #fff;
    font-size: 1.1rem;
    text-align: left;
    border-bottom-right-radius: 40px;
    /* border-top-left-radius: 30px; */
    
}
.service-card .head {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    /* color: #5b18cf; */
    color: #6419f3;

    text-align: center;
}
@media only screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: auto auto;
    }
  }