.work {
  width: 90%;
  margin: 50px;
}

.work .card {
  height: 300px;
  width: 10%;
  border: 2px solid #080320;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}
.work .netflix {
  background-image: url("../assets/netflix2.png");
  background-size: 100%;
}
.work .tracker {
  background-image: url("../assets/tracker2.png");
}
.work .blogr {
  background-image: url("../assets/blogr2.png");
}
.work .landing {
  background-image: url("../assets/landing2.png");
}
.work .age {
  background-image: url("../assets/age2.png");
}
.work .toDo {
  background-image: url("../assets/toDo2.png");
}

