.work {
  width: 100%;
  padding: 50px;
  background-color: #060918;
}
.hr {
  width: 80%;
  margin: 0 auto 40px;
  height: 1px;
  border: none;
  background: linear-gradient(to right, transparent, #fff, transparent);
}
.work .card {
  height: 300px;
  border: 5px solid #080320;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}
.work .gyme {
  background-image: url("../assets/gyme2.png");
  background-size: 100%;
}
.work .netflix {
  background-image: url("../assets/netflix2.png");
  background-size: 100%;
}
.work .tracker {
  background-image: url("../assets/tracker2.png");
}
.work .blogr {
  background-image: url("../assets/blogr2.png");
}
.work .landing {
  background-image: url("../assets/landing2.png");
}
.work .age {
  background-image: url("../assets/age2.png");
}
.work .toDo {
  background-image: url("../assets/toDo2.png");
}
.work .intro {
  background-image: url("../assets/intro2.png");
}
.work .but-house {
  width: 100%;
  text-align: center;
}
.work .preview {
  color: #080320;
  background-color: #fff;
  margin: 95px 10px 8px;
}
.work .source {
  color: #fff;
  background-color: #080320;
}
.preview,
.source {
  background-color: #ccc7c7;
  border: none;
  width: 35vw;
  height: 70px;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
}
.gyme .preview {
  cursor: not-allowed;
}

@media only screen and (min-width: 1024px) {
  .preview,
  .source {
    width: 16vw;
    height: 50px;
  }
  .preview,
  .source {
    display: none;
  }
  .card:hover .preview,
  .card:hover .source {
    display: inline-block;
    cursor: pointer;
  }
  .gyme .preview:hover {
    cursor: not-allowed;
  }
}
