/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/about.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about {
    width: 100%;
    align-items: center;
    background-color: #060918;
    color: #fff;
}
.image {
    width: 100%;
}
.about-sec {
    width: 100%;
    padding: 40px;
}
.about-btn {
    width: 20vw;
    height: 50px;
    background-color: #100b30;
    color: #5c17e1;
    font-size: 20px;
    border: 1px solid #5c17e1;
    border-radius: 50px;
    margin-bottom: 30px;
}
.image .profile-pic {
    width: 100%;
    /* height: 650px; */
    height: 100%;
    /* height: 80%; */
}
.about-sec p {
    margin-top: 10px;
    color: #7f89a5;
    font-size: 18px;
}
.type {
    font-size: 2.5rem;
}
#arrow {
    /* width: 20vw; */
    display: none;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    border-radius: 70px;
    padding: 8px;
}
#phone {
    position: fixed;
    z-index: 1;
    bottom: 10px;
    left: 20px;
    border-radius: 70px;
    padding: 8px;
}
.up-arrow, .phone {
    z-index: 1;
    width: 50px;
    height: 45px;  
}
.up-arrow {
    width: 27px;
    height: 23px;
}
.phone:hover {
    background-color: #fff;
    border: none;
    border-radius: 30px;
}
@media only screen and (min-width: 1024px) {
    .about {
        width: 100%;
        /* height: 90vh; */
        display: flex;
        align-items: center;
        background-color: #060918;
        color: #fff;
    }
    .image {
        width: 50%;
    }
    .image .profile-pic {
        /* width: 77px; */
    }
    .about-sec {
        width: 50%;
        padding: 40px;
    }
    .about-btn {
        width: 12vw;
        height: 50px;
        background-color: #100b30;
        color: #5c17e1;
        font-size: 20px;
        border: 1px solid #5c17e1;
        border-radius: 50px;
        margin-bottom: 30px;
    }
    .image .profile-pic {
        width: 600px;
        /* height: 650px; */
        height: 600px;
        /* height: 80%; */
    }
    .about-sec p {
        margin-top: 10px;
        color: #7f89a5;
        font-size: 18px;
    }
    .type {
        font-size: 2.5rem;
    }
    #arrow {
        display: none;
        background-color: #fff;
        position: fixed;
        z-index: 1;
        bottom: 10px;
        right: 20px;
        border-radius: 70px;
        padding: 8px;
    }
    #phone {
        position: fixed;
        z-index: 1;
        bottom: 10px;
        left: 20px;
        border-radius: 70px;
        padding: 8px;
    }
    .up-arrow, .phone {
        z-index: 1;
        width: 50px;
        height: 45px;  
    }
    .phone:hover {
        background-color: #fff;
        border: none;
        border-radius: 30px;
    }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Code.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.code {
    background-image: url(/_next/static/media/download.326dbade.png);
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 10vw 20vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.code .about-btn {
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px;
}
.code p {
    margin: 10px;
    color: #9498a5;
}
.code .source-code {
    margin-top: 10px;
    color: #000000;
    background-color: #ff2e5b;
    padding: 20px 25px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
}


/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Contact.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.contact-me {
    background-color: #060918;
    display: grid;
    grid-template-columns: auto;
    padding: 50px;
    color: #fff;
}
.contact-me .sec1 {
    margin-right: 50px;
}
.contact-me .sec1 p {
    margin-top: 20px;
}
.contact-me .sec2 p {
    margin: 8px auto;
    font-size: 1.2rem;
}
.contact-me p {
    color: #9498a5;
}
#name, #message, #email {
    width: 100%;
    background-color: #161a2c;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}
#name, #message {
    line-height: 7vh;
    width:80%;
}  
#email {
    line-height: 9vh;
    width: 80%;
} 
.send-btn {
    /* width: 18vw; */
}
.contact-me .flex p {
    position: relative;
    left: -70px;
}
.contact-me .sec2 .send-btn {
    font-size: 2rem;
    padding: 10px;
    font-weight: bolder;
}
.contact-me .flex2 {
    display: flex;
    align-items: center;
    padding-left: 70px;
}
.flex2:hover {
    color: #fff;
    cursor: pointer;
}
.envelope {
    width: 20px;
    margin-right: 3px;
}
.contact-me .send-btn {
    /* width: 100%; */
}
.s-desktop {
    display: none;
}
@media only screen and (min-width: 1024px) {
    .s-desktop {
        display: block;
    }
    .s-mobile {
        display: none;
    }
    .b-mobile {
        display: none;
    }
    .send-btn {
        width: 13vw;
    }
    .contact-me {
        background-color: #060918;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        padding: 50px;
        color: #fff;
    }
    .contact-me .flex {
        display: flex;
        justify-content: space-between;
    }
    .contact-me .flex2 {
        display: flex;
        align-items: center;
        padding-left: 70px;
    }
    #name, #message {
        line-height: 7vh;
        width: 100%;
    }  
    #email {
        line-height: 9vh;
        width: 100%;
    } 
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/home.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.home {
  height: 100vh;
  background-color: #5321b8;
  background-image: url(/_next/static/media/future-grid.7966de83.webp);
  background-size: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home h1 {
  color: #fff;
  padding: 10% 15% 0;
  text-align: center;
  font-size: 7.5vw;
}

.home .buttons {
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

.home-btn {
  width: 70%;
  max-width: 300px;
  height: 70px;
  font-size: 1.4rem;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
}

.home .services,
.home .projects {
  width: 70%;
  max-width: 400px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 270px) and (max-width: 480px) {
  .home h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 639px) {
  .home h1 {
    padding: 18% 10% 8%;
    font-size: 2.7rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .home h1 {
    padding: 20% 10% 0%;
    font-size: 2.7rem;
  }
  .home .home-btn {
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1024px) {
  .home h1 {
    color: #fff;
    padding: 8% 15% 0;
    text-align: center;
    /* font-size: 5rem; */
    font-size: 5vw;
  }
  .home .buttons {
    display: flex;
    /* margin-right: 50px; */
  }
  .home .home-btn {
    margin-right: 50px;
    margin-top: -12px;
  }
  .home .services {
    background-color: #6919ff;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: 0.5s;
  }
  .home .projects {
    background-color: #fff;
    color: #6919ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
  }

  .home .buttons,
  .home .services,
  .home .projects {
    width: 60%;
    max-width: 800px;
  }
  .projects:hover,
  .projects:focus {
    color: #fff;
    background-color: #6919ff;
    border: 1px solid #fff;
    transform: scaleX(1.1);
    margin-right: 40px;
    cursor: pointer;
  }
  .projects::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(1);
  }
  .projects:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
  }
  .services:hover,
  .services:focus {
    color: #6919ff;
    background-color: #fff;
    border: 1px solid #fff;
    transform: scaleX(1.1);
    margin-left: 20px;
    cursor: pointer;
  }
  .services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6919ff;
    z-index: -1;
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(1);
  }
  .services:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Footer.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 20px 20px 5vh;
  background-color: #060918;
  color: #fff;
}
.footer .hrf1 {
  margin-top: -20px;
}
.footer .hrf2 {
  margin-top: 30px;
}
.footer .hrf3 {
  margin-top: 30px;
}
.footer p {
  text-align: center;
  font-size: 1.2rem;
}
.footer .links {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer .link-item {
  color: #9498a5;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  /* display: inline; */
  /* border: 1px solid red; */
}
.footer .icons {
    width: 100%;
    text-align: center;
}
.footer .icons .icon {
    /* text-align: center; */
    width: 24px;
    margin-right: 12px;
    color: #9498a5;
/* background-color: #9498a5; */
/* border-radius: 20px; */
border: none;
    /* height: 15px; */
}
@media only screen and (min-width: 1024px) {
    
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/navigation.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
html {
  scroll-behavior: smooth;
}
nav {
  /* width: 100%; */
  position: fixed;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  padding: 3% 5%;
  color: #fff;
  top: 0;
  z-index: 1;
}
nav .list-d {
  display: none;
}
nav.scrolling {
  /* width: 90%; */
  background-color: #080b18;
  /* border: 0.4px solid #fff; */
  transition: background-color 0.5s ease;
  padding: 35px;
  /* margin-top: 20px; */
  border-radius: 50px;
}
nav .contact {
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  font-size: 19px;
  color: #fff;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
nav .list {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: -1000px;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #080b18;
  text-align: left;
  transition: 0.5s;
  padding-top: 18vh;
}
nav .list .link-item {
  font-size: 3.7vw;
  text-transform: uppercase;
  color: #9498a5;
  padding-left: 5vw;

}
nav .list.active {
  transform: translateX(0);
  left: 0;
}
nav .hamburger, .logo {
  z-index: 1;
}
.links .hr {
  width: 90%;
  margin-top: 20px;
  background-color: #9498a5;
}
@media only screen and (min-width: 270px) and (max-width: 480px) {
  nav {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 639px) {
  nav {
    padding-top: 30px;
  }
  nav.scrolling {
    width: 89%;
    margin: 20px auto;
  }
  nav.logo {
    font-size: 20px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  nav {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 1023px) {
  
  nav .list-d {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 80%;
    text-align: left;
    height: 100vh;
    transition: 0.5s;
    background-color: #fff;
    padding-top: 170px;
  }
  nav .line {
    height: 2px;
    width: 22px;
    background-color: #fff;
    margin-top: 3px;
  }
  nav .contact {
    border: 1px solid #fff;
    border-radius: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  nav {
    width: 95%;
    padding: 32px 17px;
    margin: 2% 0 0 2%;
    border-radius: 50px;
    background-blend-mode: color-burn;
  }
  nav h1 {
    font-size: 18vw;
  }
  nav.scrolling {
    background-color: #080b18;
    /* border: 0.4px solid #fff; */
    transition: background-color 0.5s ease;
  }
  nav .list {
    display: none;
  }
  nav .list-d {
    display: block;
  }
  nav .hamburger {
    display: none;
  }
  nav .logo {
    font-size: 30px;
  }
  nav ul {
    list-style-type: none;
  }
  nav .links .link-item {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2vw;
  }
  ul li {
    display: inline;
    padding: 0 20px;
  }
  .contact:hover,
  .contact:focus {
    color: #6919ff;
    background-color: #fff;
    border: 1px solid #fff;
    transform: scaleX(1.1);
    margin-left: 20px;
    cursor: pointer;
  }
  .contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6919ff;
    z-index: -1;
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(1);
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 1.2vw;
  }
  .contact:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/Service.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.service {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 50px;
  background-color: #060918;
}
.service .but-house {
  width: 100%;
  text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
}
.service .hr2 {
  margin: 50px auto -20px;
}
.service-card {
    background-color: #0c1021;
    width: 75vw;
    margin: 20px 0;
    padding: 40px 20px;
    height: -moz-fit-content;
    height: fit-content;
    color: #9498a5;
    font-size: 1.1rem;
    text-align: left;
    border-bottom-right-radius: 40px;    
}
.service-card .head {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}
@media only screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: auto auto;
    }
    .service-card {
      background-color: #0c1021;
      width: 40vw;
      margin: 20px 0;
      padding: 40px 20px;
      height: -moz-fit-content;
      height: fit-content;
      color: #9498a5;
      font-size: 1.1rem;
      text-align: left;
      border-bottom-right-radius: 40px;    
  }
  }
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/Components/work.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.work {
  width: 100%;
  padding: 50px;
  background-color: #060918;
  /* border: 1px solid red; */
  /* border-top: 1px  solid #363535; */
}
.hr {
  width: 80%;
  margin: 0 auto 40px;
  height: 1px; 
  border: none;
  background: linear-gradient(to right, transparent, #fff, transparent);
}
.work .card {
  height: 300px;
  border: 5px solid #080320;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}
.work .gyme {
  background-image: url(/_next/static/media/gyme2.02f1e8f9.png);
  background-size: 100%;
}
.work .netflix {
  background-image: url(/_next/static/media/netflix2.8ffa2af1.png);
  background-size: 100%;
}
.work .tracker {
  background-image: url(/_next/static/media/tracker2.b36d7dfb.png);
}
.work .blogr {
  background-image: url(/_next/static/media/blogr2.09cc92e7.png);
}
.work .landing {
  background-image: url(/_next/static/media/landing2.e05c4e24.png);
}
.work .age {
  background-image: url(/_next/static/media/age2.7eccefdf.png);
}
.work .toDo {
  background-image: url(/_next/static/media/toDo2.25a02dd3.png);
}
.work .intro {
  background-image: url(/_next/static/media/intro2.93bc0d44.png);
}
.work .but-house {
  width: 100%;
  text-align: center;
}
.work .preview {
  color: #080320;
  background-color: #fff;
  margin: 95px 10px 8px;
}
.work .source {
  color: #fff;
  background-color: #080320;
}
.preview, .source {
  display: none;
  background-color: #ccc7c7;
  border: none;
  width: 16vw;
  height: 50px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}

.card:hover .preview,
.card:hover .source {
  display: inline-block;
  cursor: pointer;
}
.gyme .preview:hover {
  cursor: not-allowed;
}  
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format('embedded-opentype'), url(/_next/static/media/slick.653a4cbb.woff) format('woff'), url(/_next/static/media/slick.6aa1ee46.ttf) format('truetype'), url(/_next/static/media/slick.f895cfdf.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

